/* navbar.css */

.navbar {
    display: flex;
    overflow: visible;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    padding: 14px 16px;
    margin-bottom: 20px;
}


.nav-left, .nav-right {
    display: flex;
    align-items: center;
}

.nav-left a, .dropdown .dropbtn {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #555;
    color: #fff;
}

.navbar label, .navbar select {
    color: #f2f2f2;
    margin-left: 20px;
}

.navbar select {
    background-color: #333;
    color: #f2f2f2;
    border: none;
    padding: 5px;
    font-size: 16px;
}

.navbar select option {
    background-color: #f9f9f9;
    color: black;
}

.nav-bar button {
    padding: 5px;
    margin: 0 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: transparent;
}

.nav-bar button img {
    width: 34px;
    height: 34px;
}

.dropdown {
    position: relative;
    display: inline-block;
    overflow: visible;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: #333; /* Más oscuro que la barra de navegación */
    font-family: inherit;
    margin: 0;
    cursor: pointer;
}

.dropdown-content {
    display: none; /* Inicialmente, el contenido del dropdown está oculto */
    position: absolute;
    margin-top: 45px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1001; /* Asegurarse de que esté por encima de otros elementos */
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown .dropbtn:hover {
    background-color: #555; /* Cambia el color de fondo al hacer hover */
    color: #fff; /* Cambia el color del texto al hacer hover */
}

.dropdown:hover .dropdown-content {
    display: block; /* Asegura que se muestre el contenido al hacer hover */
}

.navbar .user-info {
    display: flex;
    align-items: center;
    color: #f2f2f2;
    margin-right: 20px; /* Añade margen derecho para separar del logo */
}

.navbar .user-info img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.navbar .logo {
    height: 40px; /* Ajusta el tamaño del logo según sea necesario */
    margin-left: 20px; /* Añade margen izquierdo para separar del borde */
}


/*Media Queries para la responsividad*/

@media (max-width: 768px){
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-left, .nav-right {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-left a, .dropdown .dropbtn {
        padding: 5px;
    }

    .user-info {
        margin-top: 10px;
    }

    .modal-content{
        width: 90%;
        padding: 15 px;
        margin-top: 10px;
    }
    .close{
        font-size: 24px;
    }
}

@media (max-width: 480px){
    .modal-content{
        width: 95%;
        padding: 10 px;
    }
    .close{
        font-size: 20px;
    }
}