/* home.css */

.home-container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 800px;
    text-align: center;
    align-items: center;
    margin-top: 70px; /* Ajustar para la barra de navegación */
}

.view-buttons {
    float: right;
    align-items: center;
}