/* home.css */

body {
    font-family: Arial, sans-serif;
    background: url('../assets/fondo.png') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    margin: 0;
    overflow-y: auto;
}

.home-container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 800px;
    text-align: center;
    margin-top: 70px; /* Ajustar para la barra de navegación */
}

h1 {
    margin-bottom: 20px;
    font-size: 28px;
}

h2 {
    margin-top: 30px;
    font-size: 24px;
}

.view-buttons {
    float: right;
}